#chart {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    fill: steelblue;
}
.female {
    fill: pink;
}
.male {
    fill: blue;
}
.axis-label {
    font-size: 12px;
}

.svg{
    text-align: center;
    margin-top: 5%;
}